<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="content">
      <a class="navbar-brand" routerLink="/home">{{title}}</a>
    </span>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/addstudent">Add Student</a>
        <a class="nav-link" routerLink="/studentlist">List Student</a>
      </div>
    </div>
  </div>
</nav>
<div style="margin-left:2%; margin-top:1.5%; margin-right: 5%;">
  <router-outlet></router-outlet>
</div>
